@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* Toolbar css */
mat-toolbar {
    background-color: #130335;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.linkstyle {
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
}

.linkstyle:hover {
    color: white;
}

.navbarselections {
    flex: 1 1 auto;
}

.topnav {
    /* background-color: #333; */
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: rgb(89, 99, 124);
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    color: white;
}


/* side nav css */
mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-image: linear-gradient(#130335,#071f3a) ;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #130335;
    
}

h2 {
    padding-top: 2%;
    font-size: 30px;
    font-family: 'Patua One', cursive;
    color: #130335;
    display: flex;
    justify-content: center;
}

.menu-button a {
    color: white;
    text-decoration: none;
}

button:active{
    background-color: rgb(89, 99, 124);
}

button:hover, button:focus  {
    background-color: rgb(89, 99, 124);;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Authentication Form CSS */
p {
    font-weight: bold;
    color: #130335;
}

.btn1 {
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    max-width: 100%;
    background-color: #130227;
    border: 1px solid #24a0ed;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
  
.btn1:not([disabled]):hover {
    color: #130227;
    background-color: #9b9a9c;
    font-weight: bold;
    border: 1px solid#5b5a5c ;
}


::ng-deep .mat-step-header .mat-step-label {
    font-weight: bold;
    color: #130335;
}

.elec {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: large;
    margin: 5%;
}

.htitle {
    color: #130335;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5%;
}

.hdate {
    color: #130335;
    font-weight: bold;
    font-size: large;
    margin-bottom: 5%;
}
  
/* ::ng-deep .mat-step-header .mat-step-icon {
      background-color: #c4c4c4;
      color: #130335;
      font-weight: bold;
} */




/* Vote CSS */
/* .vote{
    background-color: #FAFAFA;
}

.vote .row .col-lg-8{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-left: 125px;
    /* line-height: 75px; 
    background-color: #ffffff;
    color: #130335;
}


p{
    font-size: large;
    padding-top: 5px;
}

label {
    font-size: large;
    padding-top: 5px;
}

.btn1 {
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    max-width: 100%;
    background-color: #130227;
    border: 1px solid #24a0ed;
    color: white;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .btn1:not([disabled]):hover {
    color: #130227;
    background-color: #9b9a9c;
    font-weight: bold;
    border: 1px solid#5b5a5c ;
  }
  
.row .col-lg-8 .p2{
    font-size: 27px;
    padding-top: 20px;
    line-height: 80px;
}

.row .col-lg-8 .p3{
    font-size: 18px;
    padding-top: 20px;
    line-height: 80px;
}

.btn1 .button{
    border: none;
    width: 200px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: #291346;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: #ffffff;
    border-radius: 10px;
   


}

.btn1{
    padding-left: 300px;
}
.input1{
      background-color: white;
      border-radius: 30px;
      box-shadow: 10px 10px 10px gray;
      width: 770px;
      align-items: center;
     
      
} */

/* Stepper CSS */
/* .mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
} */

