<!-- <div class="container"> -->
    <app-usertoolbar></app-usertoolbar>


    <div class="row">
        <div class="col-lg-2">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-7">
           <br><br> <p>you have just voted-(result Pending)</p>
            <app-electiontable></app-electiontable>
            <br><p>Scheduled Elections for this week</p>
            <app-electiontable></app-electiontable>
            <br><p>View results of old Elections</p>
            <app-electiontable></app-electiontable>

        </div>
       
       
    </div>
    
<!-- </div> -->
    



