@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


p {
    color: #130335;
    font-size: 30px ;
    font-family: 'Kavoon', cursive;
  }