.home{
    background-color: #0000;
}

.home img{
    width:75%;
    height: 670px;
    padding-left: 0px;
    align-items: center;
  
}



.home .home-content h1{
    position: absolute;
    top: 15%;
    font-size: 75px;
    padding-left: 500px;
    color: #130335;
    
}

.home .home-content p{
    position: absolute;
    top: 35%;
    font-size: 20px;
    padding-left: 1050px;
    font-style:normal;
    color: #130335;
    

}

.home .home-content ul{
    position: absolute;
    top: 55%;
    font-size: 20px;
    padding-left: 1170px;
    color: #130336;
}


.home .home-content .btn2{
    position: absolute;
    top: 75%;
    padding-left: 1150px;
}

.home .home-content a{
    margin-top: 10px;
    font-size: 20px;
    background-color: #130227;
    width: 250px;
}

.home .home-content a:hover{
    color: #130227;
    background-color: #9b9a9c;
    font-weight: bold;
    border-color:#9b9a9c ;
}

@media screen and (max-width:600px) {
    .home-content img{
      height: 0px;
      padding: 0px;
    }

    .home-content h1{
        top: 100px;
    }

    
 
    
 
    
   
}
