<app-usertoolbar></app-usertoolbar>

<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Organization is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Choose organization</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Select Organization</mat-label>
            <mat-select matInput formControlName="org">
              <mat-option *ngFor = "let organization of organizations" [value]="organization.id">
                {{organization.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <p>If required organization haven't in the list. please create new organization for that.</p>
        <div>          
          <mat-form-field appearance="fill">            
            <mat-label>Organization Name</mat-label>
            <input matInput placeholder="Organization name" required>            
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">            
            <mat-label>Organization Type</mat-label>
            <input matInput placeholder="Organization type" required>            
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">            
            <mat-label>Organization Notices</mat-label>
            <input matInput placeholder="Organization notices">            
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Create organization</button>
        <br><br>
        <div>
          <p>Click Next Button to go to next step</p>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                 required>
        </mat-form-field>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
