<div class="vote">
    <app-usertoolbar></app-usertoolbar>


    <div class="row">
        <div class="col-lg-2">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-8">
           <p class="p1">Election >>> Vote for an Election >>> Step 5</p>
           <img src="./assets/img/5progress.png" alt="Progress bar" style="width: 780px; height: 70px; padding-left: 30px;">
           
           <br><br><br><br><p class="p2">Successfully Entered your vote.Stay with us to view the Results of this Election.<br>Thank You!</p> 
         
           <div class="btn1">
                <br><button class="button" type="submit">View Results</button>
           </div>
       
           <!-- <div class="image">
                <img src="./assets/img/Group 38.png" alt="Pickmyvote" style="width: 600px; height: 250px; padding-left: 250px;">
           </div> -->
        </div>
        
    </div>

</div>
    
