<mat-toolbar class="mat-elevation-z8">

  <span><a class="linkstyle" [routerLink]="['/']" style="font-size: xx-large;">PickMyVote</a></span>
  <span class="navbarselections"></span>

  <div class="topnav">
      <a class="active" (click)="logout()">
          <h3>Logout</h3>
      </a>
      <!-- <a href="#news"> <img src="./assets/img/baseline_settings_white_24dp.png" alt=""
              style="width: 20px; height: 20px;"></a>
      <a href="#contact"><img src="./assets/img/baseline_chat_white_24dp.png" alt=""
              style="width: 20px; height: 20px;"></a>
      <a href="#about"><img src="./assets/img/baseline_notifications_white_24dp.png" alt=""
              style="width: 20px; height: 20px;"></a> -->
  </div>
</mat-toolbar>
