@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.item1{
    
    /* font-family: 'Philosopher', sans-serif;
    font-size: 1600px;
    text-decoration: none; */
    color: #130335;
}

.item5{
    
    /* font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    grid-gap: 50px;
    text-decoration: none; */
    color: #130335;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }