<!-- <div class="container"> -->
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <span><a class="linkstyle" [routerLink]="['/']" style="font-size: xx-large;">PickMyVote</a></span>
  <span class="navbarselections"></span>

  <div class="topnav">
    <a class="active" [routerLink]="['/']">
      <mat-icon>logout</mat-icon>
    </a>
    <!-- <a href="#news"> <img src="./assets/img/baseline_settings_white_24dp.png" alt=""
                style="width: 20px; height: 20px;"></a>
        <a href="#contact"><img src="./assets/img/baseline_chat_white_24dp.png" alt=""
                style="width: 20px; height: 20px;"></a>
        <a href="#about"><img src="./assets/img/baseline_notifications_white_24dp.png" alt=""
                style="width: 20px; height: 20px;"></a> -->
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>

    <button mat-button class="menu-button active">
      <mat-icon>home</mat-icon>
      <span><a (click)="viewHome()">Home</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span><a (click)="viewUser()">Profile</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>done</mat-icon>
      <span><a (click)="viewElection()">Elections</a></span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>corporate_fare</mat-icon>
      <span><a (click)="viewOrganization()">Organizations</a></span>
    </button>

    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z8">

      <div class="row" style="overflow: auto">

        <div class="topic">
          <h2>My Organizations</h2><br>
        </div><br>

        <div class="col-lg-5 mx-5">
          <mat-grid-list cols="1" rowHeight="60px" gutterSize="10px" *ngFor="let organization of org">
            <p></p>
            <br>
            <mat-grid-tile text-align="left" align-items="left">{{ organization.name }}</mat-grid-tile><br>
          </mat-grid-list>

          <br><br>
          <br>
          <div *ngFor="let orga of org">
            <p>As a Organizer</p>
            
            <br>
          <br>

          </div>
          
          <p>As a Member</p>
          <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px">


            <mat-grid-tile><b>Organization 2</b> </mat-grid-tile>


          </mat-grid-list>
        </div>
      </div>

    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="row">
  
  <div class="col-lg-7">

    <br><br>
    <p>My Organizations</p>
    <button type="button" class="btn btn-primary btn-lg mx-5 my-5">Join to an Organization</button>
    <button type="button" class="btn btn-primary btn-lg mx-5 my-5">Create an Organization</button>

    <div class="col-lg-5">
      <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px" *ngFor = "let organization of org">


        <mat-grid-tile><b>{{ organization.name }}</b> </mat-grid-tile>



      </mat-grid-list>
      <br>
       <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px"> -->


<!-- <mat-grid-tile><b>Organization 2</b> </mat-grid-tile>



      </mat-grid-list> -->
<!-- <br><br>
      <br>
      <p>As a Organizer</p>
      <app-organizationtable></app-organizationtable>
      <br>
      <br>
      <p>As a Member</p> -->
<!-- <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px">


        <mat-grid-tile><b>Organization 2</b> </mat-grid-tile>-->



<!-- </mat-grid-list> 
    </div>
  </div>


</div> -->