<!-- <div class="container"> -->
    <app-usertoolbar></app-usertoolbar>


    <div class="row">
        <div class="col-lg-2">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-7">

           <br><br> <p>My Organizations</p>
           <button type="button" class="btn btn-primary btn-lg mx-5 my-5" >Join to an Organization</button>
            <button type="button" class="btn btn-primary btn-lg mx-5 my-5">Create an Organization</button>
            
            <div class="col-lg-5">
                <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px" >
  
    
                    <mat-grid-tile><b>Organization 1</b> </mat-grid-tile>
                    
                   
                  
                  </mat-grid-list>
                  <br>
                  <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px">
  
    
                    <mat-grid-tile><b>Organization 2</b> </mat-grid-tile>
                    
                   
                  
                  </mat-grid-list>
                  <br><br>
            <br><p>As a Organizer</p>
            <app-organizationtable></app-organizationtable>
            <br>
            <br><p>As a Member</p>
            <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px">
  
    
                <mat-grid-tile><b>Organization 2</b> </mat-grid-tile>
                
               
              
              </mat-grid-list>
            </div>
        </div>
       
       
    </div>
    
<!-- </div> -->
    



